.SummarizeSetup {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  height: 100%;
  padding: 2rem 0.6875rem;

  &__info {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 0 1rem;
  }

  &__info-card {
    overflow: hidden;
    display: flex;
    flex-direction: column;

    min-width: 15.8125rem;
    max-width: min(80%, 25rem);
    margin-bottom: 1rem;
    padding: 1rem 1.5rem;
    border: 1px solid var(--color-borders);
    border-radius: var(--border-radius-messages);

    font-size: calc(var(--message-text-size, 1rem) - 0.0625rem);
    font-weight: var(--font-weight-normal);
    color: calc(var(--color-text) - 30%);
    text-align: center;

    background: var(--color-background);
  }

  &__info-title {
    margin: 0 0 0.25rem;
    font-size: 1.125rem;
    font-weight: var(--font-weight-semibold);
  }

  &__info-description {
    margin: 0;
    line-height: 1.4;
    color: var(--color-text-secondary);
    text-wrap: pretty;
  }

  &__content {
    position: relative;

    display: flex;
    flex: 1;
    justify-content: center;

    width: 100%;
    max-width: 35rem;
    min-height: 0;
  }

  &__content-inner {
    position: relative;

    overflow: hidden;
    display: flex;
    flex-direction: column;

    width: 100%;
    max-height: 100%;
    padding: 1.25rem;
    padding-bottom: 0;
    border: 1px solid var(--color-borders);
    border-radius: 0.75rem;

    background: var(--color-background);
  }

  &__content-header {
    margin: 0 0 1rem;

    font-size: 0.9375rem;
    font-weight: var(--font-weight-medium);
    color: var(--color-text);
    text-align: center;
  }

  &__search {
    flex-shrink: 0;
    margin-bottom: 1rem;
  }

  &__toggle {
    display: flex;
    flex-shrink: 0;
    gap: 0.75rem;
    align-items: center;

    margin-bottom: 1rem;
    padding: 0;
  }

  &__toggle-label {
    cursor: pointer;
    user-select: none;
    font-size: 0.9375rem;
    color: var(--color-text);
  }

  &__loading,
  &__empty {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 3rem;

    color: var(--color-text-secondary);
  }

  &__chat-list {
    overflow-y: auto;
    display: flex;
    // margin-bottom: 1rem;
    flex: 1;
    flex-direction: column;
    gap: 0.25rem;

    min-height: 0;
  }

  &__chat-item {
    cursor: pointer;

    display: flex;
    gap: 0.5rem;
    align-items: center;

    padding: 0.5rem 0.5rem 0.5rem 0.25rem;
    border-radius: 0.375rem;

    transition: background-color 0.2s;

    &:hover {
      background-color: var(--color-chat-hover);
    }

    &.selected {
      background-color: var(--color-background-selected);
    }
  }

  &__chat-info {
    flex: 1;
    min-width: 0;
  }

  &__chat-title {
    margin-bottom: 0.125rem;

    font-size: 0.9375rem;
    font-weight: 500;
    line-height: 1.3;
    color: var(--color-text);
  }

  &__chat-meta {
    font-size: 0.8125rem;
    line-height: 1.2;
    color: var(--color-text-secondary);
  }

  &__chat-status {
    flex-shrink: 0;

    padding-left: 1rem;

    font-size: 0.875rem;
    font-weight: 500;
    color: var(--color-primary);
  }

  &__footer {
    position: sticky;
    z-index: 1;
    bottom: 0;

    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;

    margin-top: auto;
    margin-right: -1.25rem;
    margin-left: -1.25rem;
    padding-top: 1rem;
    padding-right: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 1.25rem;
    border-top: 1px solid var(--color-borders);

    background: var(--color-background);
  }
}
