.root {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 3rem;
  height: 100%;
  padding-top: 0.5rem;
  border-left: 1px solid var(--color-borders);

  background-color: var(--color-background);

  @media (max-width: 925px) {
    display: none;
  }
}

.agentButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.5rem;
  height: 2.5rem;
  margin-bottom: 0.5rem;
  border-radius: 50%;

  background-color: var(--color-background-secondary);

  transition: background-color 0.15s ease;

  &:hover {
    background-color: var(--color-interactive-element-hover);
  }

  &.active {
    background-color: var(--color-primary);

    .icon {
      color: var(--color-white);
    }
  }
}

.icon {
  font-size: 1.25rem;
  color: var(--color-text-secondary);
  transition: color 0.15s ease;
}
