.root {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 2.5rem;
  height: 100%;
  padding: 0.75rem 0;
  border-left: 1px solid var(--color-borders);

  background: var(--color-background);
}

.section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.controlButton {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 2rem;
  height: 2rem;
  padding: 0;
  border: none;
  border-radius: 0.5rem;

  color: var(--color-text-secondary);

  background: transparent;

  transition: all 0.2s ease;

  &:hover {
    color: var(--color-text-primary);
    background: var(--color-chat-hover);
  }

  &:active {
    transform: scale(0.95);
  }

  i {
    font-size: 1.25rem;
  }
}
